@using Microsoft.AspNetCore.Mvc.Localization
@model string 
@inject IViewLocalizer Localizer

<form method="post" action="/home/SetLanguage">
    <select name="culture" asp-for="@Model">
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="de">German</option>
    </select>
    <input type="submit" value="Change Culture" />
    <h1>@Localizer["Hello"]</h1>
    <h3>@Localizer["Welcome"]</h3>
</form>
 
