@using Microsoft.AspNetCore.Http.Extensions
@model string;
@{
    string test = Model;
    string returnUrl = Context.Request.GetDisplayUrl();
}
<div class="d-flex align-items-center">
    <span class="me-2 localizedText">Language</span>:
    <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-flag"></i> @Model
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-start" aria-labelledby="navbarDropdown">
            <a href="/Resource/ChangeCulture?culture=uz&returnUrl=@returnUrl" class="dropdown-item">
                Uz
            </a>
            <div class="dropdown-divider"></div>
            <a href="/Resource/ChangeCulture?culture=ru&returnUrl=@returnUrl" class="dropdown-item">
                Ru
            </a>
            <div class="dropdown-divider"></div>
            <a href="/Resource/ChangeCulture?culture=en&returnUrl=@returnUrl" class="dropdown-item">
                En
            </a>
        </div>
    </div>
</div>
