@using Microsoft.AspNetCore.Http.Extensions
@model string;
@{
    string test = Model;
}
<div>
    Language:
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-flag"></i> @Model
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-start" aria-labelledby="navbarDropdown">
        <a href="/LanguageResources/ChangeCulture?lang=uz&returnUrl=@Context.Request.GetDisplayUrl()" class="dropdown-item">
            Uz
        </a>
        <div class="dropdown-divider"></div>
        <a href="/LanguageResources/ChangeCulture?lang=ru&returnUrl=@Context.Request.GetDisplayUrl()" class="dropdown-item">
            Ru
        </a>
        <div class="dropdown-divider"></div>
        <a href="/LanguageResources/ChangeCulture?lang=en&returnUrl=@Context.Request.GetDisplayUrl()" class="dropdown-item">
            En
        </a>
    </div>
</div>