@using Microsoft.AspNetCore.Http;
@using System.IO;
@{
    var httpContext = ViewContext.HttpContext;
    var cookie = httpContext.Request.Cookies["language"];
    string lanValue = "uz";

    if (!string.IsNullOrEmpty(cookie))
    {
        lanValue = cookie;
    }

    string directory = System.IO.Path.GetFullPath("wwwroot");
    string languageTokenFile = "/js/Localization/LastUpdateVersion.txt";
    string languageToken = Guid.NewGuid().ToString();
    if (File.Exists(directory + languageTokenFile))
    {
        languageToken = File.ReadAllText(directory + languageTokenFile);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/data-tables/select.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="languageValue" value='@lanValue' />
    <style>
        .max-button {
            width: 200px
        }
    </style>
    <div>
        <partial name="_CultureListPartial" for="@lanValue" />
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="btn-group" name="examples1">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Localization
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Resources/Index">
                        LanguageResources
                    </a>
                    <a class="btn btn-secondary d-block" href="/testroute/testaction">
                        Test02
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples2">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Test
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Test/index">
                        Test
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
            <script src="~/jqueryui/jquery-ui.min.js"></script>
            <script src="~/jquery/jquery.validate.min.js"></script>
            <script src="~/jquery/jquery.unobtrusive-ajax.min.js"></script>
            <script src="~/data-tables/jquery.dataTables.min.js"></script>
        </div>
        <script src="~/js/localization/LanguageArray.js?q=@languageToken"></script>
        <script src="~/js/localization/SetLanguageValue.js?q=@languageToken"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>