<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<body>
    <div class="container body-content">
        <div>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
        @RenderBody()
    </div>
</body>
</html>
